.form-container {
    display: flex;
    margin: 30px, 30px, 30px, 0px;
    padding-bottom: 30px;
    width: 214px;
}

.form-input {
    width: 150px;
}

.form-button {
    display: flex;
    width: 210px;
    margin-top: 20px;
}

.alert {
    color: red;
}