<h1>CREATE USER FORM</h1>
<div class="form-container">
  <form [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>Name:</mat-label>
      <input
        matInput
        type="text"
        class="form-input"
        formControlName="name"
        required
      />
      <mat-error *ngIf="form.get('name')?.hasError('required')">
        Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email:</mat-label>
      <input
        matInput
        type="text"
        class="form-input"
        formControlName="email"
        required
      />
      <mat-error *ngIf="form.get('email')?.hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="form.get('email')?.hasError('email')">
        Invalid email address
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Website:</mat-label>
      <input
        matInput
        type="text"
        class="form-input"
        formControlName="website"
        required
      />
      <mat-error *ngIf="form.get('website')?.hasError('required')">
        Website is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Company Name:</mat-label>

      <input
        matInput
        type="text"
        class="form-input"
        formControlName="companyName"
        required
      />

      <mat-error *ngIf="form.get('companyName')?.hasError('required')">
        Company Name is required
      </mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      class="form-button"
      type="submit"
      [disabled]="form.invalid"
      (click)="submitForm()"
    >
      Create User
    </button>
  </form>
</div>