.form-conteiner {
  display: flex;
  justify-content: left;
  max-width: 1275px;
  margin-left: 300px;
}

.ItemsGridPage {
  display: flex;
  justify-content: center;
}

.user-cards-conteiner {
  display: flex;
  flex-wrap: wrap;
  max-width: 1380px;
}
