<header>
  <div class="header">
    <div class="header-left">
      <div class="header-logo">
        <img src="/assets/Frame.svg" alt="логотип сайта">
      </div>
      <nav class="header-nav">
      <div class="header-nav-item">Главная</div>
      <div class="header-nav-item">О компании</div>
      <div class="header-nav-item">Каталог</div>
      </nav>
    </div>
    <div class="header-right">
      <div class="header-logo">
        <img src="/assets/Phone.png" alt="логотип телефона">
      </div>
      <div class="header-nav-item">+7(965)084-29-29</div>
      <div class="header-logo">
        <img src="/assets/heart 1.png" alt="логотип серлечко">
      </div>
      <button class="header-buton">
        <div>
          <img src="/assets/Mask group.png" alt="логотип тележка">
        </div>
        <div class="header-nav">Пусто</div>
      </button>
    </div>
  </div>
  <div class="header2">
    <div class="header-left">
      <div class="header2-logo">
        <img src="/assets/light.png" alt="лого полоски">
      </div>
      <div class="header-left">
        <div class="header-left-item">Каталог</div>
        <div class="header-left-item">Стройматериалы</div>
        <div class="header-left-item">Инструметы</div>
        <div class="header-left-item">Электрика</div>
        <div class="header-left-item">Интерьер и одежда</div>
        <form action="/search" method="get">
        <input type="text" name="query" placeholder="Поиск, например Круг зачистной">
        <button type="submit">
          <img src="/assets/search.png" alt="логотип лупа">
        </button>
      </form>
      <div class="header2-logo">
        <img src="/assets/map-pin (2) 1.png" alt="логотип локация">
      </div>
      <div class="moscow">Москва</div>

      </div>
    </div>
  </div>
</header>