<div class="page">
  <header>
    <div class="header">
      <div class="header-left">
        <div class="header-logo">
          <img src="/assets/egecompany.png" alt="логотип сайта">
        </div>
        <nav class="header-nav">
          <div class="header-nav-item">{{headerItem1}}</div>
          <div class="header-nav-item">{{aboutCompany}}</div>
          <div class="header-nav-item">{{headerItem3}}</div>
        </nav>
      </div>
      <div class="header-right">
        <div class="header-logo">
          <img src="/assets/Phone.png" alt="логотип телефона">
        </div>
        <div class="header-nav-item">+7(965)084-29-29</div>
        <div class="header-logo">
          <img src="/assets/heart 1.png" alt="логотип сердечко">
        </div>
        <button type="button" class="header-button">
          <div>
            <img src="/assets/shoppingcart.png" alt="логотип тележка">
          </div>
          <div class="button-content">Пусто</div>
        </button>
      </div>
    </div>
    <div class="header2">
      <div class="header-left">
        <div class="header2-logo">
          <img src="/assets/light.png" alt="лого полоски">
        </div>
        <div class="header-left">
          <div class="header-left-item">{{header2Item1}}</div>
          <div class="header-left-item">{{header2Item2}}</div>
          <div class="header-left-item">{{header2Item3}}</div>
          <div class="header-left-item">{{header2Item4}}</div>
          <div class="header-left-item">{{header2Item5}}</div>
          <form action="/search" method="get">
            <input class="search-input" type="text" name="query" placeholder="Поиск, например Круг зачистной">
            <button type="button" class="search-button">
              <img src="/assets/search.png" alt="логотип лупа">
            </button>
          </form>
          <div class="header2-logo">
            <img src="/assets/map-pin (2) 1.png" alt="логотип локация">
          </div>
          <div class="moscow">Москва</div>
        </div>
      </div>
    </div>
  </header>

  <div>
    <img src="/assets/portrait-carpenter-male-workshop.png" alt="background-large" style="width: 100%;">
  </div>
  <div class="content-conteiner">
    <div class="info-card">
      <div class="info-card-block">
        <div class="info-card-logo">
          <img src="/assets/maskgroup.png" alt="BrickWalllogo">
        </div>
        <div class="info-card-text">Большой ассортимент
          строительных материалов всегда в наличии</div>
      </div>
      <div class="info-card-block">
        <div class="info-card-logo">
          <img src="/assets/delivery.png" alt="deliverylogo">
        </div>
        <div class="info-card-text">Доставка стройматериалов
          в течении четырех часов или в любое удобное время</div>
      </div>
      <div class="info-card-block">
        <div class="info-card-logo">
          <img src="/assets/like.png" alt="goodqualitylogo">
        </div>
        <div class="info-card-text">
          Многоуровневая система управления качеством по стандарту ISO 9001
        </div>
      </div>
    </div>
    <div class="item-cards">
      <div class="item-cards_pagination">
        <button type="button" class="item-cards_pagination-button active-button">1</button>
        <button type="button" class="item-cards_pagination-button">2</button>
        <button type="button" class="item-cards_pagination-button">3</button>
        <button type="button" class="item-cards_pagination-button">4</button>
        <button type="button" class="item-cards_pagination-button">5</button>
      </div>
      <div class="item-cards_grid">
        <div class="item-cards_grid-left">
          <div class="item-cards_grid-text">
            Строительный отделочный инструмент
          </div>
          <div class="item-cards_grid-left-action">
            <span style="margin-right: 10px;">Перейти в каталог</span>
            <a class="item-cards_grid-left-action-link">
              <img src="/assets/frame.svg" alt="image_arrow">
            </a>
          </div>
        </div>

        <div class="item-cards_grid-right">
          <div class="item-cards_grid-right-block-one">
            <div class="text-right-block-one">Эмали</div>
            <div class="item-cards_grid-right-action">
              <span style="margin-right: 10px;">Перейти в каталог</span>
              <a class="item-cards_grid-left-action-link">
                <img src="/assets/frame.svg" alt="image_arrow">
              </a>
            </div>
          </div>

          <div class="item-cards_grid-right-block">
            <div class="item-cards_grid-right-block-two">
              <div class="text-right-block-two">Лакокрасочные
                материалы</div>
              <div class="item-cards_grid-right-action-two">
                <span style="margin-right: 10px;">Перейти в каталог</span>
                <a class="item-cards_grid-left-action-link">
                  <img src="/assets/frame.svg" alt="image_arrow">
                </a>
              </div>
            </div>
          </div>
          <div class="item-cards_grid-right-block">
            <div class="item-cards_grid-right-block-three">
              <div class="text-right-block-two">Пены, клеи и герметики</div>
              <div class="item-cards_grid-right-action-two">
                <span style="margin-right: 10px;">Перейти в каталог</span>
                <a class="item-cards_grid-left-action-link">
                  <img src="/assets/frame.svg" alt="image_arrow">
                </a>
              </div>
            </div>
          </div>
          <div class="item-cards_grid-right-block">
            <div class="item-cards_grid-right-block-four">
              <div class="item-cards_grid-text">Розетки и выключатели
              </div>
              <div class="item-cards_grid-left-action">
                <span style="margin-right: 10px;">Перейти в каталог</span>
                <a class="item-cards_grid-left-action-link">
                  <img src="/assets/frame.svg" alt="image_arrow">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="item-products">
      <div class="products-header">
        <div class="item-popular">Популярные товары</div>
        <div class="item-viev-products">посмотреть все товары</div>
      </div>
      <div class="item-cards_products">
        <div class="item-cards_products-block-one">
          <div class="half-card">
            <div class="rotating-background"></div>
            <div class="top-disk">
              <div class="content-position">
                <img src="/assets/discounts.png" alt="percentimage">
              </div>
              <div>
                <img src="/assets/heart2.png" alt="heartimage">
              </div>
            </div>
          </div>
          <div class="product-name">Круг зачистной 125х6х22</div>
          <div class="product-article">Артикул 00004</div>
          <div>
            <div class="product-price">Цена за штуку</div>
            <div class="price">
              <div class="price-old">52 руб.</div>
              <div class="price-new">48 руб.</div>
            </div>
          </div>
          <div class="quantity">
            <div>
              <div class="quantity-controls">Количество</div>
              <div class="quantity-number">- 1 +</div>
            </div>
            <div class="product-add-to-cart">В корзину</div>
          </div>
        </div>

        <div class="item-cards_products-block-one">
          <div class="half-card">
            <div class="top-disk">
              <div>
                <img src="/assets/discounts.png" alt="percentimage">
              </div>
              <div>
                <img src="/assets/heart2.png" alt="heartimage">
              </div>
            </div>
          </div>
          <div class="product-name">Круг зачистной 125х6х22</div>
          <div class="product-article">Артикул 00004</div>
          <div>
            <div class="product-price">Цена за штуку</div>
            <div class="price">
              <div class="price-old">52 руб.</div>
              <div class="price-new">48 руб.</div>
            </div>
          </div>
          <div class="quantity">
            <div>
              <div class="quantity-controls">Количество</div>
              <div class="quantity-number">- 1 +</div>
            </div>
            <div class="product-add-to-cart">В корзину</div>
          </div>
        </div>

        <div class="item-cards_products-block-one">
          <div class="half-card">
            <div class="top-disk-versus">
              <div class="top-disc-versus-one">
                <div class="content-position-new"><span>Новинка</span></div>
                <div>
                  <img src="/assets/heart2.png" alt="heartimage">
                </div>
              </div>
              <div class="top-disc-versus-two"></div>
              <div>
                <img src="/assets/discounts.png" alt="percentimage">
              </div>
            </div>
          </div>
          <div class="product-name">Круг зачистной 125х6х22</div>
          <div class="product-article">Артикул 00004</div>
          <div>
            <div class="product-price">Цена за штуку</div>
            <div class="price">
              <div class="price-old">52 руб.</div>
              <div class="price-new">48 руб.</div>
            </div>
          </div>
          <div class="quantity">
            <div>
              <div class="quantity-controls">Количество</div>
              <div class="quantity-number">- 1 +</div>
            </div>
            <div class="product-add-to-cart">В корзину</div>
          </div>
        </div>

        <div class="item-cards_products-block-one">
          <div class="half-card">
            <div class="top-disk">
              <div class="content-position-new"><span>Новинка</span></div>
              <div>
                <img src="/assets/heart2.png" alt="heartimage">
              </div>
            </div>
          </div>
          <div class="product-name">Круг зачистной 125х6х22</div>
          <div class="product-article">Артикул 00004</div>
          <div>
            <div class="product-price">Цена за штуку</div>
            <div class="price">
              <div class="price-old">52 руб.</div>
              <div class="price-new">48 руб.</div>
            </div>
          </div>
          <div class="quantity">
            <div>
              <div class="quantity-controls">Количество</div>
              <div class="quantity-number">- 1 +</div>
            </div>
            <div class="product-add-to-cart">В корзину</div>
          </div>
        </div>
      </div>
    </div>
    <div class="catalog">
      <div class="catalog-text">Более 10 000 наименований </div>
      <div class="catalog-text2">Инструмент для вашего бизнеса, разнообразных марок</div>
      <div class="catalog-text3">Перейти в каталог</div>
    </div>
    <div class="item-products">
      <div class="scroll_buttons">
        <div>
          <img src="/assets/scrollbutton.png" alt="scrollbutton logo">
        </div>
        <div>
          <img src="/assets/scrollbuton2.png" alt="scrollbutton logo">
        </div>
      </div>
      <div class="products-header">
        <div class="item-popular">Новинки</div>
        <div class="item-viev-products">посмотреть все товары</div>
      </div>
      <div class="item-cards_products">
        <div class="item-cards_products-block-one">
          <div class="half-card">
            <div class="rotating-background"></div>
            <div class="top-disk">
              <div class="content-position-new"><span>Новинка</span></div>
              <div>
                <img src="/assets/heart2.png" alt="heartimage">
              </div>
            </div>
          </div>
          <div class="product-name">Круг зачистной 125х6х22</div>
          <div class="product-article">Артикул 00004</div>
          <div>
            <div class="product-price">Цена за штуку</div>
            <div class="price">
              <div class="price-old">52 руб.</div>
              <div class="price-new">48 руб.</div>
            </div>
          </div>
          <div class="quantity">
            <div>
              <div class="quantity-controls">Количество</div>
              <div class="quantity-number">- 1 +</div>
            </div>
            <div class="product-add-to-cart">В корзину</div>
          </div>
        </div>

        <div class="item-cards_products-block-one">
          <div class="half-card">
            <div class="top-disk">
              <div class="content-position-new"><span>Новинка</span></div>
              <div>
                <img src="/assets/heart2.png" alt="heartimage">
              </div>
            </div>
          </div>
          <div class="product-name">Круг зачистной 125х6х22</div>
          <div class="product-article">Артикул 00004</div>
          <div>
            <div class="product-price">Цена за штуку</div>
            <div class="price">
              <div class="price-old">52 руб.</div>
              <div class="price-new">48 руб.</div>
            </div>
          </div>
          <div class="quantity">
            <div>
              <div class="quantity-controls">Количество</div>
              <div class="quantity-number">- 1 +</div>
            </div>
            <div class="product-add-to-cart">В корзину</div>
          </div>
        </div>

        <div class="item-cards_products-block-one">
          <div class="half-card">
            <div class="top-disk">
              <div class="content-position-new"><span>Новинка</span></div>
              <div>
                <img src="/assets/heart2.png" alt="heartimage">
              </div>
            </div>
          </div>
          <div class="product-name">Круг зачистной 125х6х22</div>
          <div class="product-article">Артикул 00004</div>
          <div>
            <div class="product-price">Цена за штуку</div>
            <div class="price">
              <div class="price-old">52 руб.</div>
              <div class="price-new">48 руб.</div>
            </div>
          </div>
          <div class="quantity">
            <div>
              <div class="quantity-controls">Количество</div>
              <div class="quantity-number">- 1 +</div>
            </div>
            <div class="product-add-to-cart">В корзину</div>
          </div>
        </div>

        <div class="item-cards_products-block-one">
          <div class="half-card">
            <div class="top-disk">
              <div class="content-position-new"><span>Новинка</span></div>
              <div>
                <img src="/assets/heart2.png" alt="heartimage">
              </div>
            </div>
          </div>
          <div class="product-name">Круг зачистной 125х6х22</div>
          <div class="product-article">Артикул 00004</div>
          <div>
            <div class="product-price">Цена за штуку</div>
            <div class="price">
              <div class="price-old">52 руб.</div>
              <div class="price-new">48 руб.</div>
            </div>
          </div>
          <div class="quantity">
            <div>
              <div class="quantity-controls">Количество</div>
              <div class="quantity-number">- 1 +</div>
            </div>
            <div class="product-add-to-cart">В корзину</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="footer">
      <div class="footer-conteiner">
        <div class="footer-stage-one">
          <div class="footer-left">
            <div>
              <img src="/assets/EGElogo.png" alt="логотип сайта">
            </div>
            <div class="contacts">
              <div class="footer-contactinfo">
                <div class="footer-contact-info_string_one">
                  <div>
                    <img src="/assets/darktel.png" alt="phone logo">
                  </div>
                  <div class="contact-text">Контактный телефон</div>
                  <div></div>
                </div>
                <div class="footer-contactinfo_string_two">
                  <div>+ 7 (812) 309-09-34</div>
                  <div class="number-phone">+ 7 (965) 084-29-09</div>
                </div>
              </div>

              <div class="footer-email-info">
                <div class="footer-contact-info_string_one">
                  <div class="contact-email-img">
                    <img src="/assets/sms.png" alt="sms logo">
                  </div>
                  <div class="contact-text">Электронная почта</div>
                  <div></div>
                </div>
                <div class="footer-contactinfo_string_two">
                  <div><a href="mailto:tustin78&#64;mail.ru">tustin78&#64;mail.ru</a>
                  </div>
                  <div class="email-top"><a href="mailto:tustin78&#64;mail.ru">tustin78&#64;mail.ru</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="footer-right">
            <div class="footer-right-block">
              <div class="footer-right-blok-info">
                <div class="footer-right-block-info-text-one">Остались вопросы?</div>
                <div class="footer-right-block-info-text-two">
                  Узнавайте первым о скидках, предложениях и событиях еженедельно в
                  своем почтовом ящике. Отпишитесь в любое время одним щелчком мыши.
                </div>
              </div>
              <div class="foter-right-blok-form">
                <div class="footer-right-block-form-info">
                  <div class="footer-right-block-form-img">
                    <img src="/assets/smalsms.png" alt="sms logo">
                  </div>
                </div>
                <div class="footer-right-block-form-input">
                  <div class="footer-right-block-form-text">Введите свою почту</div>
                  <div class="footer-right-block-form-button">Отправить</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-stage-two">
          <div class="footer-navigation">
            <div class="footer-main">Главная</div>
            <div class="footer-about">О компании</div>
            <div class="footer-catalog">Каталог</div>
          </div>
          <div class="footer-undergound">
            <div class="footer-social">
              <img class="social-icon" src="/assets/facelogo.png" alt="facebook logo">
              <img src="/assets/youtubelogo.png" alt="youtube logo">
              <img src="/assets/watslogo.png" alt="watsapp logo">
            </div>
            <div class="footer-copyright-info">
              <span style="margin-left: auto;">© 2021-2022, EDE</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>