<header>
  <div class="header">
    <div class="header-left">
      <div class="header-logo">
        <img src="/assets/frame.svg" alt="логотип сайта">
      </div>
      <nav class="header-nav">
        <div class="header-nav-item">Главная</div>
        <div class="header-nav-item">О компании</div>
        <div class="header-nav-item">Каталог</div>
      </nav>
    </div>
    <div class="header-right">
      <div class="header-logo">
        <img src="/assets/Phone.png" alt="логотип телефона">
      </div>
      <div class="header-nav-item">+7(965)084-29-29</div>
      <div class="header-logo">
        <img src="/assets/heart 1.png" alt="логотип сердечко">
      </div>
      <button class="header-buton">
        <div>
          <img src="/assets/Mask group.png" alt="логотип тележка">
        </div>
        <div class="header-nav">Пусто</div>
      </button>
    </div>
  </div>
  <div class="header2">
    <div class="header-left">
      <div class="header2-logo">
        <img src="/assets/light.png" alt="лого полоски">
      </div>
      <div class="header-left">
        <div class="header-left-item">Каталог</div>
        <div class="header-left-item">Стройматериалы</div>
        <div class="header-left-item">Инструметы</div>
        <div class="header-left-item">Электрика</div>
        <div class="header-left-item">Интерьер и одежда</div>
        <form action="/search" method="get">
          <input type="text" name="query" placeholder="Поиск, например Круг зачистной">
          <button type="submit">
            <img src="/assets/search.png" alt="логотип лупа">
          </button>
        </form>
        <div class="header2-logo">
          <img src="/assets/map-pin (2) 1.png" alt="логотип локация">
        </div>
        <div class="moscow">Москва</div>
      </div>
    </div>
  </div>
</header>

<div>
  <img src="/assets/portrait-carpenter-male-workshop.png" alt="background-large" style="width: 100%;">
</div>
<div class="content-conteiner">
  <div class="info-card">
    <div class="info-card-block">
      <div class="info-card-logo">
        <img src="/assets/maskgroup.png" alt="BrickWalllogo">
      </div>
      <div class="info-card-text">Большой ассортимент
        строительных материалов всегда в наличии</div>
    </div>
    <div class="info-card-block">
      <div class="info-card-logo">
        <img src="/assets/delivery.png" alt="deliverylogo">
      </div>
      <div class="info-card-text">Доставка стройматериалов
        в течении четырех часов или в любое удобное время</div>
    </div>
    <div class="info-card-block">
      <div class="info-card-logo">
        <img src="/assets/like.png" alt="goodqualitylogo">
      </div>
      <div class="info-card-text">
        Многоуровневая система управления качеством по стандарту ISO 9001
      </div>
    </div>
  </div>
  <div class="item-cards">
    <div class="item-cards_pagination">
      <button class="item-cards_pagination-button active-button">1</button>
      <button class="item-cards_pagination-button">2</button>
      <button class="item-cards_pagination-button">3</button>
      <button class="item-cards_pagination-button">4</button>
      <button class="item-cards_pagination-button">5</button>
    </div>
    <div class="item-cards_grid">
      <div class="item-cards_grid-left">
        <div class="item-cards_grid-text">
          Строительный отделочный инструмент
        </div>
        <div class="item-cards_grid-left-action">
          <span style="margin-right: 10px;">Перейти в каталог</span>
          <a class="item-cards_grid-left-action-link">
            <img src="/assets/frame.svg" alt="image_arrow">
          </a>
        </div>
      </div>

      <div class="item-cards_grid-right">
        <div class="item-cards_grid-right-block-one">
          <div class="text-right-block-one">Эмали</div>
          <div class="item-cards_grid-right-action">
            <span style="margin-right: 10px;">Перейти в каталог</span>
            <a class="item-cards_grid-left-action-link">
              <img src="/assets/frame.svg" alt="image_arrow">
            </a>
          </div>
        </div>

        <div class="item-cards_grid-right-block">
          <div class="item-cards_grid-right-block-two">
            <div class="text-right-block-two">Лакокрасочные
              материалы</div>
            <div class="item-cards_grid-right-action-two">
              <span style="margin-right: 10px;">Перейти в каталог</span>
              <a class="item-cards_grid-left-action-link">
                <img src="/assets/frame.svg" alt="image_arrow">
              </a>
            </div>
          </div>
        </div>
        <div class="item-cards_grid-right-block">
          <div class="item-cards_grid-right-block-three">
            <div class="text-right-block-two">Пены, клеи и герметики</div>
            <div class="item-cards_grid-right-action-two">
              <span style="margin-right: 10px;">Перейти в каталог</span>
              <a class="item-cards_grid-left-action-link">
                <img src="/assets/frame.svg" alt="image_arrow">
              </a>
            </div>
          </div>
        </div>
        <div class="item-cards_grid-right-block">
          <div class="item-cards_grid-right-block-four">
            <div class="item-cards_grid-text">Розетки и выключатели
            </div>
            <div class="item-cards_grid-left-action">
              <span style="margin-right: 10px;">Перейти в каталог</span>
              <a class="item-cards_grid-left-action-link">
                <img src="/assets/frame.svg" alt="image_arrow">
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="item-products">
    <div class="products-header">
      <div class="item-popular">Популярные товары</div>
      <div class="item-viev-products">посмотреть все товары</div>
    </div>
    <div class="item-cards_products">
      <div class="item-cards_products-block-one">
        <div class="half-card">
          <div class="rotating-background"></div>
          <div class="top-disk">
            <div class="content-position">
              <img src="/assets/discounts.png" alt="percentimage">
            </div>
            <div>
              <img src="/assets/heart2.png" alt="heartimage">
            </div>
          </div>
        </div>
        <div class="product-name">Круг зачистной 125х6х22</div>
        <div class="product-article">Артикул 00004</div>
        <div>
          <div class="product-price">Цена за штуку</div>
          <div class="price">
            <div class="price-old">52 руб.</div>
            <div class="price-new">48 руб.</div>
          </div>
        </div>
        <div class="quantity">
          <div>
            <div class="quantity-controls">Количество</div>
            <div class="quantity-number">- 1 +</div>
          </div>
          <div class="product-add-to-cart">В корзину</div>
        </div>
      </div>

      <div class="item-cards_products-block-one">
        <div class="half-card">
          <div class="top-disk">
            <div>
              <img src="/assets/discounts.png" alt="percentimage">
            </div>
            <div>
              <img src="/assets/heart2.png" alt="heartimage">
            </div>
          </div>
        </div>
        <div class="product-name">Круг зачистной 125х6х22</div>
        <div class="product-article">Артикул 00004</div>
        <div>
          <div class="product-price">Цена за штуку</div>
          <div class="price">
            <div class="price-old">52 руб.</div>
            <div class="price-new">48 руб.</div>
          </div>
        </div>
        <div class="quantity">
          <div>
            <div class="quantity-controls">Количество</div>
            <div class="quantity-number">- 1 +</div>
          </div>
          <div class="product-add-to-cart">В корзину</div>
        </div>
      </div>

      <div class="item-cards_products-block-one">
        <div class="half-card">
          <div class="top-disk">
            <div>
              <img src="/assets/discounts.png" alt="percentimage">
            </div>
            <div>
              <img src="/assets/heart2.png" alt="heartimage">
            </div>
          </div>
        </div>
        <div class="product-name">Круг зачистной 125х6х22</div>
        <div class="product-article">Артикул 00004</div>
        <div>
          <div class="product-price">Цена за штуку</div>
          <div class="price">
            <div class="price-old">52 руб.</div>
            <div class="price-new">48 руб.</div>
          </div>
        </div>
        <div class="quantity">
          <div>
            <div class="quantity-controls">Количество</div>
            <div class="quantity-number">- 1 +</div>
          </div>
          <div class="product-add-to-cart">В корзину</div>
        </div>
      </div>

      <div class="item-cards_products-block-one">
        <div class="half-card">
          <div class="top-disk">
            <div>
              <img src="/assets/discounts.png" alt="percentimage">
            </div>
            <div>
              <img src="/assets/heart2.png" alt="heartimage">
            </div>
          </div>
        </div>
        <div class="product-name">Круг зачистной 125х6х22</div>
        <div class="product-article">Артикул 00004</div>
        <div>
          <div class="product-price">Цена за штуку</div>
          <div class="price">
            <div class="price-old">52 руб.</div>
            <div class="price-new">48 руб.</div>
          </div>
        </div>
        <div class="quantity">
          <div>
            <div class="quantity-controls">Количество</div>
            <div class="quantity-number">- 1 +</div>
          </div>
          <div class="product-add-to-cart">В корзину</div>
        </div>
      </div>
    </div>
  </div>
</div>