.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    color: white;
    background-color: #4B565E;
    padding: 0 240px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 20px;
}

.header-nav {
    display: flex;
}

.header-nav-item {
    margin-right: 20px;
}

.header-right {
    display: flex;
    align-items: center;
    margin-right: 20px;

}

.header-buton {
    display: flex;
    background-color: #4B565E;
    border-radius: 20px;
    border-color: #F0BA4E;
    border-width: 2px;
    align-items: center;
    color: white;
    padding: 3;
}

.header2 {
    display: flex;
    align-items: center;
    height: 40px;
    color: black;
    background-color: #F0BA4E;
    padding: 0 240px;
    font-size: 11px;
}

.header-left-item {
    margin-right: 20px;
}


.header2-logo {
    margin-right: 5px;
}

form {
    display: flex;
    margin: 20px;
    align-items: center;

}
input[type="text"] {
    width: 300px;
    height: 15px;
    padding: 0px;
    margin-right: 0px;
    background-color: #F0BA4E;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid-black;
    font-size: 11px;
}

button {
    align-items: center;

    padding: 0px;
    background-color: #F0BA4E;
    border-color: #F0BA4E;
}

.moscow {
    color: white;
    align-items: center;
}

.content-conteiner {
    max-width: 1320px;
    margin: 0 auto;
}

.info-card {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 20px;
    }

.info-card-block {
    width: 421px;
    height: 72px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    box-sizing: border-box;
}

.info-card-logo {
    width: 72px;
    height: 72px;
}

.info-card-text {
    font-family: Inter;
font-size: 18px;
font-weight: 500;
line-height: 21.78px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
margin-left: 20px;
color: #000000;
}

.item-cards_pagination {
    display: flex;
    justify-content: end;

    &-button {
    font-family: inter;
    border: none;
    background: none;
    color: #A1A0A0;
    }
}

.active-button {
    color: #F0BA4E;
    font-weight: 600;
}

.item-cards_grid {
    display: flex;
}

.item-cards_grid-left {
    max-height: 428px;
    max-width: 421px;
    height: 428px;
    background-repeat: no-repeat;
    overflow: hidden;
    box-shadow: 0px 20px 50px 0px #3c3c3b12;
    background-image: url(/assets/image19.png);
    background-position-x: left;
    background-position-y: bottom;
    margin-bottom: 500px;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-cards_grid-text {
    font-family: Inter;
    font-size: 28px;
    font-weight: 600;
}

.item-cards_grid-left-action {
    align-self: end;
    display: flex;
    align-items: center;
}

.item-cards_grid-left-action-link {
    width: 40px;
    height: 40px;
}

.item-cards_grid-right {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 20px;
}

.item-cards_grid-right-block {
    width: 421px;
    height: 200px;
    box-shadow: 0px 20px 50px 0px #3c3c3b12;
}

.item-cards_grid-right-block-one {
    width: 421px;
    height: 200px;
    background-image: url(/assets/emali14.png);
    background-repeat: no-repeat;
    overflow: hidden;
    box-shadow: 0px 20px 50px 0px #3c3c3b12;
    background-position-x: left;
    background-position-y: bottom;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    box-sizing: border-box;
}

.text-right-block-one {
    font-family: Inter;
    font-size: 28px;
    font-weight: 600;
    align-self: flex-end;
}

.item-cards_grid-right-action {
    align-self: flex-end;
    display: flex;
    align-items: center;
}

.item-cards_grid-right-block-two {
    width: 421px;
    height: 200px;
    background-image: url(/assets/vedro.png);
    background-repeat: no-repeat;
    overflow: hidden;
    box-shadow: 0px 20px 50px 0px #3c3c3b12;
    background-position-x: right;
    background-position-y: bottom;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    box-sizing: border-box;
}

.text-right-block-two {
    font-family: Inter;
    font-size: 28px;
    font-weight: 600;
    width: 281px; 
}

.item-cards_grid-right-action-two {
    display: flex;
    align-items: center;
}

.item-cards_grid-right-block-three {
    width: 421px;
    height: 200px;
    background-image: url(/assets/pena.png);
    background-repeat: no-repeat;
    overflow: hidden;
    box-shadow: 0px 20px 50px 0px #3c3c3b12;
    background-position-x: right;
    background-position-y: bottom;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    box-sizing: border-box;
}

.item-cards_grid-right-block-four {
    height: 200px;
    width: 421px;
    background-repeat: no-repeat;
    overflow: hidden;
    box-shadow: 0px 20px 50px 0px #3c3c3b12;
    background-image: url(/assets/rozetka.png);
    background-position-x: left;
    background-position-y: bottom;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}